<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_calendar">

        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>

        <dist:fusing dist:include="true" />

        <dist:install-time>
            <dist:removable dist:value="true"/>
        </dist:install-time>
    </dist:module>

    <application
        tools:ignore="MissingApplicationIcon">
        <activity
            android:name=".action.login.LoginCalendarActionView"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>